.centro{
    margin: 0 auto;
    text-align:center;
}
.boton3m{
	background-color:#c76845;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #85726c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b04b27;
}
.boton3m:hover {
	background-color:#db5314;
}
.boton3m:active {
	position:relative;
	top:1px;
}

.contenedorDatos {
    background-color: #EDDDD4;
    min-height: 100px;
    min-height: 100px !important;
    border-radius: 20px;
    margin-top: 20px;
    color: #772E25
}

	.celda-centro{
		text-align: center;		
	}	

.boton3m2 {
	background-color:#EDDDD4;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fcfcfc;
	margin: 0 auto;
    text-align: center;
}
.boton3m2:hover {
	background-color:#C76845;
}
.boton3m2:active {
	position:relative;
	top:1px;
}

.clearfix{
    margin: 10px; 
}

.boton3m3{
	background-color:#c76845;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:28px;
	border:1px solid #85726c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b04b27;
}
.boton3m3:hover {
	background-color:#db5314;
}
.boton3m3:active {
	position:relative;
	top:1px;
}
#floating_alert {
    position: fixed;
    top: 75px;
    right: 350px;
    z-index: 5000;
    height: 50px;
}
#floating_alert2 {
    width: 500px;
    position: fixed;
    top: 300px;
    right: 450px;
    z-index: 5000;
}
.fondo {
    background-image: url("/img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.subfondo1 {
    background-image: url("/img/subfondo2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.subfondo2 {
    background-image: url("/img/fondo.png");
}