body, html
{
	/* overflow:hidden; */
	background-image:url("../img/rojoleon.png");
	background-position:bottom right;
	background-attachment:fixed;
	background-repeat:no-repeat;
}
fieldset
{
	width:80%;
}
#busca3m
{
	position:absolute;
}
#cotiza
{
	width:auto;
	height:auto;
	border:solid 1px #000;
}
fieldset
{
	border-radius:10px;
	border:double 3px #dc0023;
	box-shadow:3px 3px 5px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
legend
{
	font-family:"Century Gothic";
	font-style:italic;
}
input[type=text], input[type=email]
{
	border-radius:7px;
}
input[type=text]:hover, input[type=email]:hover
{
	border-color:#dc0023;
}
input[type=text]:focus, input[type=email]:focus
{
	border-color:#dc0023;
	background-color:#F5A9A9;
}