<html>
	<head>
		<title>Cotizadores AIL</title>
		<link href="css/estilo.css" rel="stylesheet" type="text/css"/>
		<META http-equiv="Pragma" content="no-cache">
	</head>
	<body>
		<iframe src="content/" id="frame"></iframe>
	</body>
</html>