<html>
	<head>
		<title>Cotizadores AIL</title>
		<link href="css/style.css" rel="stylesheet" type="text/css"/>
		<META http-equiv="Pragma" content="no-cache">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<img src="img/logoleo.png" id="logoleo"/><!--Logotipo Artículos Innovadores Leo-->
			<fieldset id="contenedor"><!--Contenedor de los Links y logotipos, borde externo-->
				<legend><i>Selecciona tu cotizador</i></legend><!--Encabezado del seleccionador de cotizador-->
				<table id="contenido"><!--contenedor de los 3 logotipos-->
					<tr align="center">
						<td id="tres">
							<a href="php/3m.php" target="_blank">
								<img src="img/3M.png" id="treseme"/><!--Primer link 3m.php-->
							</a>
						</td>
						<td id="sik">
							<a href="php/sika.php" target="_blank">
								<img src="img/sika.png" id="sika"/><!--Segundo link sika.php-->
							</a>
						</td>
						<td>
							<a href="php/mapei.php" target="_blank">
								<img src="img/MAPEI.png" id="mapei"/><!--Tercer Link mapei.php-->
							</a>
						</td>
					</tr>
				</table>
			</fieldset>
	</body>
</html>