body, html
{
	overflow:hidden;
	background-image:url("../img/fondo leon.png");
	background-position:bottom right;
	background-attachment:fixed;
	background-repeat:no-repeat;
}
@media screen and (min-width: 980px)
{
    #contenedor
{
	margin-top:7%;
	margin-left:29%;
	width:550px;
	height:210px;
	border:solid 1px #000;
}
    #contenido
{
	margin-top:12%;
	width:inherit;
	height:auto;
}
    #treseme, #sika, #mapei
{
	width:auto;
	height:65px;
}
#tres, #sik
{
	border-right:groove #000 3px;
}
#logoleo
{
	position:relative !important;
	height:20%;
	width:auto;
}
#contenedor
{
	margin-top:7%;
	margin-left:29%;
	width:550px;
	height:210px;
	border:solid 1px #000;
}
#contenido
{
	margin-top:12%;
	width:inherit;
	height:auto;
}
#treseme, #sika, #mapei
{
	width:auto;
	height:65px;
}
#tres, #sik
{
	border-right:groove #000 3px;
}
legend
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:18px;
}